@{
    ViewBag.Title = "Bap";
}

<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h5 class="card-title" style="padding-top: 15px; padding-right: 15px; padding-left: 0px; font-weight: bold; font-size: 20px; color: black; ">
        FORMULIR




    </h5>
    <h5 class="card-title" style="padding-top: 0px; padding-right: 15px; padding-left: 0px; font-weight: bold; font-size: 20px; color: black; ">



        DOKUMENTASI KEGIATAN PERKULIAHAN ONLINE
        <p style="font-weight: normal; font-size: 15px;font-style:italic; ">Sebagai Pengganti Perkuliahan Tatap Muka</p>
    </h5>
    <div style="text-align:right">@Html.ActionLink("Print BAP", "PrintDetail")</div>

    <table style="width:100%">
        <tr>
            <th>NIM:</th>
            <td id="nim"></td>

            <th>Program Studi:</th>
            <td id="prodi"></td>
        </tr>
        <tr>
            <th>Nama Mahasiswa:</th>
            <td id="nama"></td>

            <th>Nama Mata Kuliah:</th>
            <td id="namaMK"></td>
        </tr>
        <tr>
            <th>Universitas Asal:</th>
            <td id="univ"></td>

            <th>Kode Mata Kuliah:</th>
            <td id="kodeMK"></td>
        </tr>
        <tr>
            <th></th>
            <td></td>
            <th>Seksi:</th>
            <td id="seksi"></td>
        </tr>
    </table>
    <br>
    <br>
    <br>

    <table style="width:100%">
        <tr>
            <th>Tanggal Pertemuan</th>
            <th>Topik Perkuliahan Sesuai RPS</th>
            <th>Penyesuaian Bentuk Pembelajaran dengan online learning (metode dan aktivitas)</th>
            <th>Platform/aplikasi yang digunakan</th>
            <th>Kehadiran Mahasiswa</th>
            <th>Evaluasi Perkuliahan online</th>
            <th>Dosen</th>
        </tr>
        <tr>
            <td></td>@*tanggal pertemuan*@
            <td></td>@*topik perkuliahan*@
            <td></td>@*metode dan aktivitas*@
            <td></td>@*platform yangdigunakan*@
            <td></td>@*status kehadira*@
            <td></td>@*evaluasi perkuliahan*@
            <td></td>@*Dosen pengajar*@
        </tr>
    </table>
</body>
</html>

@section Scripts{
    <script>
        var mataKuliah = null;
        $(document).ready(function () {
            $('#nama').html("@ViewData["nama"].ToString()");
            $('#nim').html("@ViewData["nim"].ToString()");
            $('#univ').html("@ViewData["univ"].ToString()");
   
        });
    </script>

}
