
@{
    Layout = "~/Areas/Portal/Views/shared/_LayoutHome.cshtml";
    ViewBag.Title = "SUMMARY PRESENSI - SIMBKM";
}


<style>
    .coral {
        color: coral;
    }

    .center {
        align-content: center;
        align-items: center;
        vertical-align: unset;
        align-self: center;
        text-align: center
    }

    .zero-padding {
        padding: 10px 15px !important;
    }

    .vertical-center {
        vertical-align: middle !important;
    }

    .no-border {
        border: 0px !important;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    table.dataTable.no-footer {
        border: none;
    }

    .dataTables_wrapper .dataTables_processing {
        position: absolute;
        top: 70%;
        left: 50%;
        width: 30%;
        height: 40px;
        margin-left: -20%;
        margin-top: -25px;
        padding-top: 20px;
        text-align: center;
        font-size: 1.2em;
        background: none;
    }

    thead tr {
        background-color: #FF8A04;
        border: 0;
    }

    .table-spacing {
        border-spacing: 0px 0.5rem !important;
    }

    .body-content {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
</style>

<form action="@Url.Action("DetailSummaryPresensiKelas","SummaryPresensi")" method="post" id="presensi">
    <input type="hidden" id="id" name="id" />
</form>

<div class="card center-block" style="background-color: white; margin: 15px;">
    <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
        <h5 class="card-title" style="padding-top: 15px; padding-right: 15px; padding-left: 15px; font-weight: bold; font-size: 20px; color: black; ">
            SUMMARY PRESENSI<br />
            @*<p style="font-weight: normal; font-size: 15px; color: #c1baba;">Isi kehadiran untuk setiap mata kuliah yang diikuti sesuai jadwal yang tersedia</p>*@
        </h5>
        <hr />
        <div class="container" style="width: 100%; padding-bottom: 15px;">
            <table class="table" style="width: auto;">
                <tr>
                    <td style="text-align: right">Tahun Semester</td>
                    <td style="width: 400px;">
                        <select name="tahunSemester" id="tahunSemester" class="form-control input-md"></select>
                    </td>
                </tr>
            </table>
            <hr />
            <div style="overflow-x: auto;">
                <table id="jadwalKuliah" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                    <thead>
                        <tr>
                            <th class="zero-padding no-border vertical-center sorting">Action</th>
                            <th class="zero-padding no-border vertical-center sorting">No.</th>
                            <th class="zero-padding no-border vertical-center sorting">Tahun Semester</th>
                            <th class="zero-padding no-border vertical-center sorting">Fakultas</th>
                            <th class="zero-padding no-border vertical-center sorting">Program Studi</th>
                            <th class="zero-padding no-border vertical-center sorting">Kode Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center sorting">Nama Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center sorting">SKS</th>
                            @*<th class="zero-padding no-border vertical-center sorting">Hari</th>*@
                            @*<th class="zero-padding no-border vertical-center sorting">Waktu</th>*@
                            @*<th class="zero-padding no-border vertical-center sorting">Seksi</th>*@
                            @*<th class="zero-padding no-border vertical-center sorting">Ruang Kelas</th>*@
                            <th class="zero-padding no-border vertical-center sorting">Lokasi</th>
                            <th class="zero-padding no-border vertical-center sorting">Presentase Kehadiran</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var semesters = @Html.Raw(Json.Encode(Model));
        var semestersAsList = [];
        var datatable;
        $(document).ready(function () {
            for (var key in semesters) {
                var tmp = new Object();
                tmp.id = key;
                tmp.text = semesters[key];
                semestersAsList.push(tmp);
            }
            $("#tahunSemester").select2({
                placeholder: "-- Pilih Semester --",
                data: semestersAsList
            });
            $("#tahunSemester").change(function () {
                loadTable($("#tahunSemester").val());
            });
            loadTable($("#tahunSemester").val());
        });

        function loadTable(strm) {
            if (!strm) {
                strm = 0;
            }
            datatable = $('#jadwalKuliah').DataTable({
                ajax: {
                    url: '@Url.Action("GetJadwalKuliah", "SummaryPresensi")?strm=' + strm,
                    dataSrc: ''
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 1
                }],
                "order": [
                    [1, 'asc']
                ],
                "columns": [
                    {
                        "data": "ID",
                        "render": function (data, type, row, meta) {
                            return `<div class="col" style="text-align:center"><a href="javascript:void(0)" style="color:black" onclick="javascript:$('#id').val(${data}); $('#presensi').submit();"><i class="fas fa-file-search coral"></i></a></div>`;
                        }
                    },
                    {
                        "data": null
                    },
                    {
                        "data": "STRM",
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center; vertical-align: middle;">' + semesters[data] + '</div>';
                        }
                    },
                    {
                        "data": "NamaFakultas",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "NamaProdi",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "KodeMataKuliah",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "NamaMataKuliah",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "SKS",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    //{
                    //    "data": "JadwalKuliahs.Hari",
                    //    "render": function (data, type, row, meta) {
                    //        return '<div class="center">' + data + '</div>';
                    //    }
                    //},
                    //{
                    //    "data": "JadwalKuliahs.JamMasuk",
                    //    "render": function (data, type, row, meta) {
                    //        return '<div class="center">' + data + ' - ' + row.JadwalKuliahs.JamSelesai + '</div>';
                    //    }
                    //},
                    //{
                    //    "data": "JadwalKuliahs.ClassSection",
                    //    "render": function (data, type, row, meta) {
                    //        return '<div class="center">' + data + '</div>';
                    //    }
                    //},
                    //{
                    //    "data": "JadwalKuliahs.RuangKelas",
                    //    "render": function (data, type, row, meta) {
                    //        return '<div class="center">' + data + '</div>';
                    //    }
                    //},
                    {
                        "data": "Lokasi",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "Presetanse", //presensi
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    }
                ]
            });
            datatable.on('order.dt search.dt', function () {
                datatable.column(1, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        }
        
    </script>
}