
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
   
    @Scripts.Render("~/bundles/jquery")
   
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    @*margin-left: -20px; margin-right: -20px;*@
}
<div class="container-fluid" style="padding: 0px ">
    <div class="card center-block" style="background-color: white; width: 100%; padding: 0px ">
        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: 3px solid coral">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                Daftar Seluruh Mahasiswa
                <p style="font-weight: normal; font-size: 15px; color: #c1baba;">Berikut Daftar Seluruh Mahasiswa</p>
            </h4>
            <hr />
            <div class="container-fluid">
                @*<div class="container" style="width: 100%;">*@

                @*<button class="btn btn-success" data-toggle="modal" onclick="AddUserTemplate()" data-target="#TambahUser" data-backdrop="true"><i class="fas fa-plus-circle"></i> TAMBAH USER</button>*@
                @*<button class="btn btn-success" onclick="AddUserTemplate()"><i class="fas fa-plus-circle"></i> TAMBAH USER</button>
            <br />
            <br />*@
                @*<table id="TableList" class="table row-border hover dt-responsive responsive" style="border-spacing: 0 15px; border:0">*@
                @*<table id="TableList" class="table table-bordered table-striped hover dt-responsive responsive">*@
                <br />
                <table id="TableList" class="table row-border hover dt-responsive responsive">

                    <thead class="text-center">
                        <tr style="background-color: #FF8A04; border: 0 ">
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Action</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">No.</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Universitas Asal</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Jenjang Studi</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Program Studi Asal</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">NIM Asal</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Jenis Kelamin</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Nama Mahasiswa</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">No. Kerjasama</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Status Kerjasama</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Status Pendaftaran</th>

                        </tr>
                    </thead>

                </table>

            </div>
            <br />
        </div>
        </div>
</div>
@section scripts{
    
    <script src="~/Scripts/Admin/DaftarSeluruhMhs/main.js"></script>

    @*<script src="~/Scripts/Admin/UserManage/crud.js"></script>*@
}

