@{
    Layout = null;
}
<div class="modal-content data-content-modal" id="detail-seluruhMHS-template">
    <div class="modal-header" style="background-color: #FF8A04; ">
        <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;">
            DETAIL MAHASISWA
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            
            <div class="form-group">
                <label for="nama" class="col-sm-4 control-label"style="font-size: 14px; font-weight: normal">Universitas Asal: </label>
                <div class="col-sm-8">
                   <label id="lUnivAsal"class="form-control"style="border: 0px solid #f7ba74">ASAL</label>
                    
                </div>
            </div>
            <div class="form-group">
                <label for="TempatLahir" class="col-sm-4 control-label"style="font-size: 14px; font-weight: normal">Jenjang Studi: </label>
                <div class="col-sm-8">
                    <label id="lUnivAsal" class="form-control" style="border: 0px solid #f7ba74;">ASAL</label>
                </div>
            </div>
            <div class="form-group">
                <label for="TanggalLahir" class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Program Studi Asal: </label>
                <div class="col-sm-8">
                    <label id="lUnivAsal" class="form-control" style="border: 0px solid #f7ba74">ASAL</label>
                </div>
            </div>
            <div class="form-group">
                <label for="agama" class="col-sm-4 control-label"style="font-size: 14px; font-weight: normal">Nama Mahasiswa: </label>
                <div class="col-sm-8">

                    <label id="lUnivAsal" class="form-control" style="border: 0px solid #f7ba74">ASAL</label>

                </div>
            </div>
            <div class="form-group">
                <label for="agama" class="col-sm-4 control-label"style="font-size: 14px; font-weight: normal">NIM Asal: </label>
                <div class="col-sm-8">
                    <label id="lUnivAsal" class="form-control" style="border: 0px solid #f7ba74">ASAL</label>
                </div>
            </div>
            <div class="form-group">
                <label for="NamaUniversitas" class="col-sm-4 control-label"style="font-size: 14px; font-weight: normal">Jenis Kelamin: </label>
                <div class="col-sm-8">
                    <label id="lUnivAsal" class="form-control" style="border: 0px solid #f7ba74">ASAL</label>
                </div>
            </div>
            <div id="univAsal">
                <div class='form-group'>
                    <label for="namaUniversitas" class="col-sm-4 control-label"style="font-size: 14px; font-weight: normal">No. Handphone: </label>
                    <div class="col-sm-8">
                        <label id="lUnivAsal" class="form-control" style="border: 0px solid #f7ba74">ASAL</label>
                    </div>
                </div>
                <div id="noKS">
                    <div class='form-group'>
                        <label for="noKerjasama" class="col-sm-4 control-label"style="font-size: 14px; font-weight: normal">No. Telephone: </label>
                        <div class="col-sm-8">
                            <label id="lUnivAsal" class="form-control" style="border: 0px solid #f7ba74">ASAL</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="prodiAsal" class="col-sm-4 control-label"style="font-size: 14px; font-weight: normal">Alamat Email: </label>
                <div class="col-sm-8">
                    <label id="lUnivAsal" class="form-control" style="border: 0px solid #f7ba74">ASAL</label>
                </div>
            </div>
            <div class="form-group">
                <label for="nimAsal" class="col-sm-4 control-label"style="font-size: 14px; font-weight: normal">Status Kerjasama: </label>
                <div class="col-sm-8">
                    <label id="lUnivAsal" class="form-control" style="border: 0px solid #f7ba74">ASAL</label>
                </div>
            </div>
            <div class='form-group'>
                <label for="tahunSemester" class="col-sm-4 control-label"style="font-size: 14px; font-weight: normal">No. Kerjasama: </label>
                <div class="col-sm-8">
                    <label id="lUnivAsal" class="form-control" style="border: 0px solid #f7ba74">ASAL</label>
                </div>
            </div>
            <div class="form-group">
                <label for="noHp" class="col-sm-4 control-label"style="font-size: 14px; font-weight: normal">Status Pendaftaran</label>
                <div class="col-sm-8">
                    <label id="lUnivAsal" class="form-control" style="border: 0px solid #f7ba74">ASAL</label>

                </div>
            </div>
            <div class="form-group">
                <label for="emailRegistrasi" class="col-sm-4 control-label"style="font-size: 14px; font-weight: normal">NIM MBKM: </label>
                <div class="col-sm-8">
                    <label id="lUnivAsal" class="form-control" style="border: 0px solid #f7ba74">ASAL</label>
                </div>
            </div>
            
            <div class="form-group">
                <input onclick="" type="button" value="Registrasi" class="btn" style="float: right; background-color: #FF8A04; color: black; padding: 5px 30px; font-weight: bold; font-size: 20px;" />
            </div>


        </form>
    </div>
</div>

