
@{
    ViewBag.Title = "SIMBKM";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}


@section css{

    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/AdminCostumeBS4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <style>
        table thead {
            background-color: #FF8A04;
        }

        .middle {
            line-height: 70px;
        }

        .icon {
            color: #FF8A04;
        }
    </style>
}
@section modal{
    <div class="modal fade" id="TambahKerjasama" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" id="modal-inner">

        </div>
    </div>
}
<div class="container-fluid" style="padding: 0px;">
    <div class="card center-block" style="background-color: white; width: 100%">
        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: 3px solid coral; width: 100%">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                DAFTAR PERJANJIAN KERJASAMA
            </h4>
            <hr />
            <div class="container" style="width: 100%;">
                <button class="btn btn-success" onclick="IndexCreateKerjasama()"><i class="fas fa-plus-circle"></i> Tambah Kerjasama</button>
                <br />
                <br />
                <table id="TableList" class="table table-bordered table-striped table-hover js-basic-example dataTable table-responsive display nowrap"
                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr style="background-color: #FF8A04; border: 0 ">
                            <th>Action</th>
                            <th>No</th>
                            <th>No Kerjasama</th>
                            <th>Tanggal Mulai</th>
                            <th>Tanggal Selesai</th>
                            <th>Jenis Pertukaran</th>
                            <th>Jenis Kerjasama</th>
                            <th>Instansi</th>
                            <th>nama Unit</th>
                            <th>Nama Instansi</th>
                            <th>Inputer</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@*<label>TEXT 1: </label>
    <input type="text" id="text_1" value="" class="number-separator"/>
    <br>
    <label>TEXT 2: </label>
    <input id="text_2" />*@
@section scripts{
    <script src="~/Scripts/easy-number-separator.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/Admin/PerjanjianKerjasama/main.js">
    </script>
    <script src="~/Scripts/Admin/PerjanjianKerjasama/crud.js">
    </script>
    @*<script type="text/javascript" src="http://www.appelsiini.net/projects/chained/jquery.chained.js?v=0.9.10"></script>*@
    <script src="~/Scripts/script.js"></script>
    <script>
        $("#text_1").keyup(function () {
            $("#text_2").val($("#text_1").val().replace(/,/g, ''));
        })
    </script>

}