
@{
    ViewBag.Title = "LINK PERKULIAHAN - SIMBKM";
    Layout = "~/Areas/Portal/Views/Shared/_LayoutHome.cshtml";
}

@model MBKM.Entities.ViewModel.VMSemester

<style>
    /*p {
        width: 200px;
        border: 1px solid;
        padding: 2px 5px;*/
        /* Both of the following are required for text-overflow */
        /*white-space: nowrap;
        overflow: scroll;
    }
    .overflow-ellipsis-ellipsis {
        text-overflow: ellipsis ellipsis;
    }*/
    .teswrap {
        width: 320px;
        /*white-space: nowrap;*/
        /*overflow: hidden;*/
        /*text-overflow: ellipsis;*/
        /*padding: 20px;
        font-size: 15px;
        margin: 0;
        background: white;*/
        word-wrap: break-word;
        /*resize: horizontal;*/
    }

    .coral {
        color: coral;
    }

    .center {
        align-content: center;
        align-items: center;
        vertical-align: unset;
        align-self: center;
        text-align: center
    }

    .zero-padding {
        padding: 10px 15px !important;
    }

    .vertical-center {
        vertical-align: middle !important;
    }

    .no-border {
        border: 0px !important;
    }

    table.dataTable.no-footer {
        border: none;
    }

    .dataTables_wrapper .dataTables_processing {
        position: absolute;
        top: 70%;
        left: 50%;
        width: 30%;
        height: 40px;
        margin-left: -20%;
        margin-top: -25px;
        padding-top: 20px;
        text-align: center;
        font-size: 1.2em;
        background: none;
    }

    thead tr {
        background-color: #FF8A04;
        border: 0;
    }

    .table-spacing {
        border-spacing: 0px 0.5rem !important;
    }

    .body-content {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
</style>



@section css{

    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    @Scripts.Render("~/bundles/jquery")


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
}
@section modal{
    <div class="modal fade" id="TambahMasterMapingCapaianPembelajaran" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" id="modal-inner">

        </div>
    </div>
}


<div class="container-fluid" style="padding: 0px">
    <div class="card center-block" style="background-color: white; width: 100%; padding: 0px">
        <div class="card-body responsive-content" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: 3px solid coral; padding: 0px">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                LINK FASILITAS PERKULIAHAN<br />
                @*<small class="describe">Berikut Jadwal Perkuliahaan Pada Program MBKM anda :</small>*@
            </h4>
            <hr />
            <div class="container" style="width: 100%;">
                @*
                    Jenjang Studi
                    Fakultas
                    ProgtamStudi
                    Lokasi
                    Tahun Ajaran
                *@
                <div class="col-md-12">
                    <form class="form-horizontal col-md-7">

                        <div class="form-group">
                            <label for="inp_tahunAjaran" class="col-sm-3 control-label">Tahun Semester</label>
                            <div class="col-sm-9">
                                <select name="tahunAjaranCari" id="tahunAjaranCari" class="form-control input-md">
                                    <option value="@Model.ID" selected>@Model.Nama</option>
                                </select>
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <div class="col-sm-2 col-md-offset-10">
                                <button type="button" id="cari" class="btn btn-warning" style="float: right;" title="Mohon untuk melengkapi form pencarian terlebih dahulu!" disabled><span class="fa fa-search"></span> Cari</button>
                            </div>
                        </div>-->

                    </form>
                </div>



                <!--
                    No
                    Kode Mata Kuliah
                    Nama Mata Kuliah
                    SKS
                    Seksi
                    Hari
                    Waktu
                    Ruang Kelas
                    Lokasi
                    Nama Dosen
                -->
                <!--
                    <button id="add" class="btn btn-success" onclick="IndexCreateMasterMapingCapaianPembelajaran()" title="Mohon untuk melengkapi form pencarian terlebih dahulu!" disabled><i class="fas fa-plus-circle"></i> Tambah Master Maping</button>
                    <br />
                    <br />
                -->
                <!--table-responsive-->
                <h3><b>Jadwal Perkuliahan</b></h3>
                <div id="table-data-jadwal-kuliah-overflow">
                    <table id="table-data-jadwal-kuliah" class="table table-bordered table-spacing js-basic-example dataTable table-responsive display nowrap">
                        <thead>
                            <tr>
                                <th class="zero-padding no-border vertical-center sorting">Action</th>
                                <th class="zero-padding no-border vertical-center sorting">No.</th>
                                <th class="zero-padding no-border vertical-center sorting">Tahun Semester</th>
                                <th class="zero-padding no-border vertical-center sorting">Program Studi</th>
                                <th class="zero-padding no-border vertical-center sorting">Fakultas</th>
                                <th class="zero-padding no-border vertical-center sorting">Kode Mata Kuliah</th>
                                <th class="zero-padding no-border vertical-center sorting">Nama Mata Kuliah</th>
                                <th class="zero-padding no-border vertical-center sorting">SKS</th>
                                <th class="zero-padding no-border vertical-center sorting">Hari</th>
                                <th class="zero-padding no-border vertical-center sorting">Waktu</th>
                                <th class="zero-padding no-border vertical-center sorting">Seksi</th>
                                <th class="zero-padding no-border vertical-center sorting">Ruang Kelas</th>
                                <th class="zero-padding no-border vertical-center sorting">Lokasi</th>
                                <th class="zero-padding no-border vertical-center sorting">Nama Dosen</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>





    @section scripts{
        <script src="~/Scripts/Portal/LinkFasilitasMahasiswa/main.js"></script>
        <script src="~/Scripts/Portal/LinkFasilitasMahasiswa/crud.js"></script>
        <script src="~/Scripts/loading/loadingoverlay.min.js"></script>
    }
