
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container-fluid" style="background-image: url('/Asset/BG_SERTIFIKAT.png'); background-repeat: no-repeat; background-size: contain; height: 900px; width: 1200px; margin-left:auto; margin-right:auto">
        <div style="margin :20px 20px 20px 20px">
            <div class="row" style="padding-top:10px; margin-left:10px">
                <img src="~/Asset/Lambang_Unika_Atma_Jaya.png" style="max-height: 80px; margin: 15px 25px;" />
            </div>
            <div class="row center">
                <h2 style="font-size:30px">
                    UNIVERSITAS KATOLIK INDONESIA <br />
                    <img src="~/Asset/atma-sertifikat.png" style="max-height: 75px; margin: 15px 25px;" />
                </h2>
            </div>
            <div class="row center">
                memberikan penghargaan kepada
            </div>
            <div class="row center">
                <h3 style="font-size:25px">ABIYOGA HENDRA BRINDIL</h3>
                <h3 style="font-size:23px">17-11-1124</h3>
                <div class="row center">
                    atas partisipasinya mengikuti program Merdeka Belajar Kampus Merdeka (MBKM) <br />
                    <i>
                        semester Ganjil/Genap Tahun Akademik 2021/2024 dengan 4 Matakuliah (10 SKS) <br />
                        di Universitas Katolik Indonesia Atma Jaya, Jl. Jend. Sudirman 51, Jakarta. <br />
                    </i>
                </div>
            </div>
            <div class="row center">
                <h3>Jakarta, 12 Oktober 1998</h3>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row center">
                Dr. Abiyoga Hendra Wijaya <br />
                Wakil Rektor Bidang Akademik
            </div>
        </div>
    </div>
</body>
</html>
