
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<div class="card-body responsive-content" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: 3px solid coral; padding: 0px">
    <h6 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 25px; color: black;">
        SUMMARY FEEDBACK<br />
        <small class="describe">Berikut Daftar Jadwal Ujian MBKM</small>
    </h6>
    <hr />
    <div class="container" style="width: 100%;">

        <div class="col-md-12">
            <form class="form-horizontal col-md-5">
                <div class="form-group">
                    <label for="inp_semester" class="col-sm-3 control-label">Tahun Semester</label>
                    <div class="col-sm-7">
                        <select name="inp_semester" id="inp_semester_dosen" class="form-control select2 input-md input-data">
                            <option value="" selected disabled>-- Pilih Tahun Semester --</option>
                            @{
                                foreach (var dt in ViewData["semester"] as IEnumerable<MBKM.Entities.ViewModel.VMSemester>)
                                {
                                    <option value="@dt.Nilai">@dt.Nama</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <!--table-responsive-->
        <table id="table-data-summary-feedback-dosen" class="table row-border hover dt-responsive responsive" style="border-spacing: 0 15px; border:0">
            <thead>
                <tr>
                    <th class="zero-padding2 small-text no-border vertical-center center sorting">Action</th>
                    <th class="zero-padding2 small-text no-border vertical-center center sorting">No</th>
                    <th class="zero-padding2 small-text no-border vertical-center center sorting">Tahun Semester</th>
                    <th class="zero-padding2 small-text no-border vertical-center center sorting">Kode MK</th>
                    <th class="zero-padding2 small-text no-border vertical-center center sorting">Nama Mata Kuliah</th>
                    <th class="zero-padding2 small-text no-border vertical-center center sorting">Seksi</th>
                    <th class="zero-padding2 small-text no-border vertical-center center sorting">Jumlah Mahasiswa</th>
                    @*
                        <th class="zero-padding2 small-text no-border vertical-center center sorting">Keterandalan</th>
                        <th class="zero-padding2 small-text no-border vertical-center center sorting">Daya Tanggap</th>
                        <th class="zero-padding2 small-text no-border vertical-center center sorting">Keajegan</th>
                        <th class="zero-padding2 small-text no-border vertical-center center sorting">Empati</th>
                        <th class="zero-padding2 small-text no-border vertical-center center sorting">Tangible</th>
                        <th class="zero-padding2 small-text no-border vertical-center center sorting">Total Skor</th>*@
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <br />
        <br />
        <br />
        <br />
    </div>
</div>

