
@{
    ViewBag.Title = "SIMBKM";
}

<style>
    body {
        color: #C1BABA;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="loginAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #FF8A04;">
                <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;">
                    Login Admin
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <form action="#" method="post" class="form-horizontal">
                    <div class="container" style="width: 100%;">
                        <div class="form-group">
                            <input type="text" name="usernameAdmin" id="usernameAdmin" placeholder="Username" class="form-control input-lg" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="passwordAdmin" id="passwordAdmin" placeholder="Password" class="form-control input-lg" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn" style="float: right; background-color: #FF8A04; color: black; padding: 5px 30px; font-weight: bold; font-size: 20px;" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registrasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #FF8A04; ">
                <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;">
                    Registrasi Mahasiswa
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <div id="formRegistrasi">
                    <div class="container" style="width: 100%;">
                        <div class="form-group">
                            <label>Nama Lengkap</label>
                            <input type="text" name="Nama" id="nama" placeholder="Nama Lengkap" class="form-control input-lg" />
                        </div>
                        <div class="form-group">
                            <label>Tempat Lahir</label>
                            <input type="text" name="TempatLahir" id="tempatLahir" placeholder="Tempat Lahir" class="form-control input-lg" />
                        </div>
                        <div class="form-group">
                            <label>Tanggal Lahir</label>
                            <input type="date" name="TanggalLahir" id="tanggalLahir" placeholder="Tanggal Lahir" class="form-control input-lg" />
                        </div>
                        <div class="form-group">
                            <label>Jenis Kelamin</label>
                            <select name="Gender" id="gender" class="form-control input-lg">
                                <option value="L">Laki - Laki</option>
                                <option value="P">Perempuan</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Agama</label>
                            <select name="agama" id="agama" class="form-control input-lg" required>
                                <option value="Islam">Islam</option>
                                <option value="Kristen">Kristen</option>
                                <option value="Katholik">Katholik</option>
                                <option value="Buddha">Buddha</option>
                                <option value="Hindu">Hindu</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Universitas Asal</label>
                            <select name="NamaUniversitas" id="namaUniversitas" class="form-control input-lg" required>
                                <option value="ubm">UBM</option>
                                <option value="umn">UMN</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>No. Handphone</label>
                            <input type="text" name="NoHp" id="noHp" placeholder="+62xxxxxxxxxxx" class="form-control input-lg" />
                        </div>
                        <div class="form-group">
                            <label>Alamat Email</label>
                            <input type="Email" name="Email" id="emailRegistrasi" placeholder="someone@somewhere.com" class="form-control input-lg" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="Password" id="passwordRegistrasi" placeholder="●●●●●●●●" class="form-control input-lg" />
                        </div>
                        <div class="form-group">
                            <input onclick="submitRegistrasi()" type="submit" value="Registrasi" class="btn" style="float: right; background-color: #FF8A04; color: black; padding: 5px 30px; font-weight: bold; font-size: 20px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="padding: 5%;" class="row">
    <div class="col-sm-7 col-md-7 col-lg-7">
        <img style="max-width: 100%;" src="~/Asset/kampus-universitas-katolik-atmajaya-jakarta-_131002231109-118.jpg" />
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">
        <div class="card" style="width: 100%;">
            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
                <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 30px; color: black;">Login</h5>

                <div class="container" style="width: 100%;">

                    <div style="font-size: 20px; padding: 30px 0px;">
                        Untuk kamu yang sudah registrasi atau Mahasiswa Internal Universitas Katolik Atma Jaya dan ingin mengikuti program studi kampus merdeka, jadwal perkuliahan, dan lainnya, silahkan melakukan Login terlebih dahulu
                    </div>

                    <form action="@Url.Action("index","datadiri")" method="post">
                        <div class="form-group">
                            <input type="text" name="username" id="username" placeholder="Username" class="form-control input-lg" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" placeholder="Password" class="form-control input-lg" />
                        </div>
                        <div style="float: right; font-size: 20px;">
                            Login sebagai
                            <a data-toggle="modal" data-target="#loginAdmin" style="color: #FF8A04;">
                                Admin
                            </a>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn" style="background-color: #FF8A04; color: black; padding: 5px 30px; font-weight: bold; font-size: 20px;" />
                        </div>
                    </form>
                    <hr />
                    <div style="font-size: 20px; padding: 30px 0px;">
                        Untuk kamu yang belum melakukan registrasi dan ingin mengikuti program kampus merdeka, silahkan melakukan
                        <a data-toggle="modal" data-target="#registrasi" style="color: #FF8A04;">Registrasi</a>
                        terlebih dahulu
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function submitRegistrasi() {
            mahasiswa = new Object;
            mahasiswa.Nama = $("#nama").val();
            mahasiswa.TempatLahir = $("#tempatLahir").val();
            mahasiswa.TanggalLahir = $("#tanggalLahir").val();
            mahasiswa.Gender = $("#gender").val();
            mahasiswa.NamaUniversitas = $("#namaUniversitas").val();
            mahasiswa.NoHp = $("#noHp").val();
            mahasiswa.Email = $("#emailRegistrasi").val();
            mahasiswa.Password = $("#passwordRegistrasi").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("registerExternal", "Home")",
                data: mahasiswa
            }).then(function (response) {
                alert(response.message);
            });
        }
    </script>
}