
@{
    ViewBag.Title = "SIMBKM-Admin";
}





<div style="padding: 5%;" class="row">

    <div class="col-sm-4 col-md-4 col-lg-3" style="align-content:center">admin
        <div class="card" style="width: 100%; align-self:center;">
            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
                <h5 class="card-title" style="background-color: darkorange; padding: 15px; font-weight: bold; font-size: 30px; color: black;">Login</h5>

                <div class="container" style="width: 100%;">


                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="username" id="username" placeholder="Username" class="form-control input-lg" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" placeholder="Password" class="form-control input-lg" />
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn" style="background-color: darkorange; color: black; padding: 5px 30px; font-weight: bold; font-size: 20px;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


