@{
    Layout = null;
}
<div class="modal-content data-content-modal" id="detail-cpl-template">
    <div class="modal-header" style="background-color: #FF8A04; ">
        <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;">
            DETAIL CAPAIAN BELAJAR
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="frmSave">
            <div class="form-group">
                <label for="prodi" class="col-sm-3 control-label">Program Studi</label>
                <div class="col-sm-9">
                    <select class="form-control input-pendaftaran input-data" id="txtProdi" name="txtProdi" placeholder="Pilih Program Studi" disabled>
                        <option value="value">-</option>
                        <option value="value">text</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="txtKelompok" class="col-sm-3 control-label">Kelompok</label>
                <div class="col-sm-9">
                    <select class="form-control input-pendaftaran input-data" id="txtKelompok" name="txtKelompok" placeholder="Pilih Kelompok" disabled>
                        <option value="value">-</option>
                        <option value="value">text</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="txtKodeCPL" class="col-sm-3 control-label">Kode CPL</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control input-pendaftaran input-data" id="txtKodeCPL" name="txtKodeCPL" placeholder="Input Kode CPL" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="txtCPL" class="col-sm-3 control-label">Capaian Pembelajaran</label>
                <div class="col-sm-9">
                    @*<input type="text" class="form-control input-pendaftaran input-data" id="txtCPL" name="txtCPL" placeholder="Input Deskripsi Capaian Pembelajaran">*@
                    <textarea class="form-control input-pendaftaran summernote input-data" name="txtCPL" rows="5" id="txtCPL" placeholder="Input Deskripsi Capaian Pembelajaran" disabled></textarea>

                </div>
            </div>

            <div class="form-group">
                <label for="inp_status" class="col-sm-3 control-label">Status</label>
                <div class="col-sm-9">
                    <label class="radio-inline input-pendaftaran">
                        <input type="radio" name="inpStatus" id="inp_status" value="1" disabled> Aktif
                    </label>
                    <label class="radio-inline input-pendaftaran">
                        <input type="radio" name="inpStatus" id="inp_status" value="0" disabled> Tidak Aktif
                    </label>
                </div>
            </div>
            
        </form>
    </div>
</div>

