
@{
    Layout = "~/Areas/Portal/Views/shared/_LayoutHome.cshtml";
    ViewBag.Title = "Presensi Ujian";
}

<style>
    table.center {
        margin-left: auto;
        margin-right: auto;
    }

    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th,
    .table-borderless > tfoot > tr > td,
    .table-borderless > tfoot > tr > th,
    .table-borderless > thead > tr > td,
    .table-borderless > thead > tr > th {
        border: none;
    }

    .coral {
        color: coral;
    }

    .center {
        align-content: center;
        align-items: center;
        vertical-align: unset;
        align-self: center;
        text-align: center
    }

    .zero-padding {
        padding: 10px 15px !important;
    }

    .vertical-center {
        vertical-align: middle !important;
    }

    .no-border {
        border: 0px !important;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    table.dataTable.no-footer {
        border: none;
    }

    .dataTables_wrapper .dataTables_processing {
        position: absolute;
        top: 70%;
        left: 50%;
        width: 30%;
        height: 40px;
        margin-left: -20%;
        margin-top: -25px;
        padding-top: 20px;
        text-align: center;
        font-size: 1.2em;
        background: none;
    }

    thead tr {
        background-color: #FF8A04;
        border: 0;
    }

    .table-spacing {
        border-spacing: 0px 0.5rem !important;
    }

    .body-content {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    /* The container */
    .container2 {
        left: 40%;
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container2 input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        align-content: center;
        position: absolute;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border: solid;
        border-width: 1px;
    }

    /* On mouse-over, add a grey background color */
    .container2:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container2 input:checked ~ .checkmark {
        background-color: #FF8A04;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container2 input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container2 .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .disable {
        background-color: #ccc;
        pointer-events: none;
    }
</style>

<div class="card center-block" style="background-color: white; margin: 15px; display: none;" id="alert">
    <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
        <table class="table center table-borderless" id="empty" style="width: auto;">
            <tr>
                <td><img src="~/Asset/SeekPng.com_megaphone-png_311331.png" style="height: 100px; width: auto;" /></td>
                <td style="font-weight: bold;"><br />JADWAL UJIAN BELUM TERSEDIA<br />SILAHKAN CEK SECARA BERKALA</td>
            </tr>
        </table>
    </div>
</div>

<div class="card center-block" style="background-color: white; margin: 15px; display: none;" id="body">
    <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
        <h5 class="card-title" style="padding-top: 15px; padding-right: 15px; padding-left: 15px; font-weight: bold; font-size: 20px; color: black; ">
            JADWAL PERKULIAHAN MBKM<br />
            <p style="font-weight: normal; font-size: 15px; color: #c1baba;">Isi kehadiran untuk setiap mata kuliah yang diikuti sesuai jadwal yang tersedia</p>
        </h5>
        <hr />
        <div class="container" style="width: 100%; padding-bottom: 15px;">
            <table class="table" style="width: auto;">
                <tr>
                    <td style="text-align: right">Tahun Semester</td>
                    <td style="width: 400px;">
                        <select name="tahunSemester" id="tahunSemester" class="form-control input-md"></select>
                    </td>
                </tr>
            </table>
            <hr />
            <div style="overflow-x: auto;">
                <table id="jadwalKuliah" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                    <thead>
                        <tr>
                            <th class="zero-padding no-border vertical-center sorting">Present</th>
                            <th class="zero-padding no-border vertical-center sorting">No.</th>
                            <th class="zero-padding no-border vertical-center sorting">Tahun Semester</th>
                            <th class="zero-padding no-border vertical-center sorting">Nama Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center sorting">SKS</th>
                            <th class="zero-padding no-border vertical-center sorting">Tanggal</th>
                            <th class="zero-padding no-border vertical-center sorting">Waktu</th>
                            <th class="zero-padding no-border vertical-center sorting">Lokasi</th>
                            <th class="zero-padding no-border vertical-center sorting">Ruang Ujian</th>
                            <th class="zero-padding no-border vertical-center sorting">Seksi</th>
                            <th class="zero-padding no-border vertical-center sorting">Program Studi</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <button id="submit" class="btn" style="margin: 15px; margin-bottom: 0px; margin-right: 0px; float: right; background-color: #FF8A04; color: white; padding: 5px 30px; font-weight: bold; font-size: 16px; ">SUBMIT</button>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var semesters = @Html.Raw(Json.Encode(Model));
        var semestersAsList = [];
        var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        var datatable;
        $(document).ready(function () {
            for (var key in semesters) {
                var tmp = new Object();
                tmp.id = key;
                tmp.text = semesters[key];
                semestersAsList.push(tmp);
            }
            if (semestersAsList.length == 0) {
                $('#alert').show();
            } else {
                $('#body').show();
                $("#tahunSemester").select2({
                    data: semestersAsList
                });
                $("#tahunSemester").change(function () {
                    loadTable($("#tahunSemester").val());
                });
                loadTable($("#tahunSemester").val());
            }
        });

        function loadTable(strm) {
            if (!strm) {
                strm = 0;
            }
            datatable = $('#jadwalKuliah').DataTable({
                ajax: {
                    url: '@Url.Action("GetPresensiUjian", "PresensiUjian")?strm=' + strm,
                    dataSrc: ''
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 1
                }],
                "order": [
                    [1, 'asc']
                ],
                "columns": [
                    {
                        "data": "Present",
                        "render": function (data, type, row, meta) {
                            var jamMulai = row.JadwalUjianMBKMs.JamMulai.split(':');
                            var jamKeluar = row.JadwalUjianMBKMs.JamAkhir.split(':');
                            var menitMasuk = parseInt(jamMulai[0]) * 60 + parseInt(jamMulai[1]);
                            var menitKeluar = parseInt(jamKeluar[0]) * 60 + parseInt(jamKeluar[1]);
                            var now = new Date();
                            var menitSekarang = now.getHours() * 60 + now.getMinutes();
                            var tanggalAbsen = new Date(row.JadwalUjianMBKMs.TanggalUjian);
                            if (data) {
                                return '<label class="container2"><input type="checkbox" checked disabled><span class="checkmark"></span></label>';
                            }
                            if (
                                menitMasuk <= menitSekarang
                                && menitKeluar >= menitSekarang
                                && tanggalAbsen.getDate() == now.getDate()
                                && tanggalAbsen.getMonth() == now.getMonth()
                                && tanggalAbsen.getFullYear() == now.getFullYear()
                            ) {
                                return '<label class="container2"><input type="checkbox" id="absen" value="' + row.ID + '"><span class="checkmark"></span></label>'
                            }
                            return '<label class="container2"><input type="checkbox" disabled><span class="checkmark disable"></span></label>';
                        }
                    },
                    {
                        "data": null
                    },
                    {
                        "data": "JadwalUjianMBKMs.STRM",
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center; vertical-align: middle;">' + semesters[data] + '</div>';
                        }
                    },
                    {
                        "data": "JadwalUjianMBKMs.NamaMatkul",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + row.JadwalUjianMBKMs.KodeMatkul + ' - ' + data + '</div>';
                        }
                    },
                    {
                        "data": "JadwalUjianMBKMs.NamaMatkul",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "JadwalUjianMBKMs.TanggalUjian",
                        "render": function (data, type, row, meta) {
                            var data = new Date(data);
                            var string = months[data.getMonth()] + ', ' + data.getDate() + ' ' + data.getFullYear();
                            return '<div style="text-align:center; vertical-align: middle;">' + string + '</div>';
                        }
                    },
                    {
                        "data": "JadwalUjianMBKMs.JamMulai",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + ' - ' + row.JadwalUjianMBKMs.JamAkhir + '</div>';
                        }
                    },
                    {
                        "data": "JadwalUjianMBKMs.Lokasi",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "JadwalUjianMBKMs.RuangUjian",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "JadwalUjianMBKMs.ClassSection",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "JadwalUjianMBKMs.NamaProdi",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    }
                ]
            });
            datatable.on('order.dt search.dt', function () {
                datatable.column(1, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        }
        $('#submit').click(function () {
            if (!$('#absen').is(':checked')) {
                return;
            }
            if (!confirm("APAKAH ANDA AKAN SUBMIT DAFTAR KEHARDIRAN?")) {
                return;
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SubmitAbsensiUjian", "PresensiUjian")?idAbsensiUjian=" + $('#absen').val()
            }).then(function (response) {
                alert(response.message);
                location.reload();
            });
        });
    </script>
}
