
@{
    ViewBag.Title = "TRACKING STATUS PENDAFTARAN MATA KULIAH";
    Layout = "~/Areas/Portal/Views/Shared/_LayoutHome.cshtml";
}

@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/AdminCostumeBS4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Portal/TrackingStatus/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
}
@section modal{
    <div class="modal fade" id="DetailTrackingStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" id="modal-inner">
            <div class="modal-content data-content-modal" id="created-email-template">
                <div class="modal-header" style="background-color: #FF8A04; ">
                    <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;">
                        TAMBAH MASTER EMAIL TEMPLATE
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <div class="modal-body" >
                    <div class="container" style="width: 100%; padding-bottom: 15px;">
                        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
                            <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 24px; color: black;">MATA KULIAH TUJUAN</h5>
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-4 text-right">
                                        <h4>Fakultas &nbsp:</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>Fakultas Pendidikan dan Bahasa</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-right">
                                        <h4>Program Studi &nbsp:</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>Pendidikan Bahasa Inggris</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-right">
                                        <h4>Lokasi &nbsp:</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>Semanggi</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-right">
                                        <h4>Kode Mata Kuliah &nbsp:</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>A001</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-right">
                                        <h4>Nama Mata Kuliah &nbsp:</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>Grammars Fundamentals</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-right">
                                        <h4>SKS &nbsp:</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>4</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-right">
                                        <h4>Seksi &nbsp:</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>A</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-right">
                                        <h4>Hari &nbsp:</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>Selasa</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-right">
                                        <h4>Waktu &nbsp:</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>09.00 - 18.00</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-right">
                                        <h4>Nama Dosen &nbsp:</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>Prof. Dr. Abiyoga Hendra Wijaya, M. M </h4>
                                    </div>
                                </div>
                                <br />
                            </form>
                        </div>
                        <br />
                        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
                            <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 24px; color: black;">MATA KULIAH ASAL</h5>
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-4 text-right">
                                        <h4>Mata Kuliah &nbsp:</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4>Implementation Of Algorithm Data Mining Using Aljabar Linier</h4>
                                    </div>
                                </div>
                                <br />
                            </form>
                        </div>
                        <br />
                        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
                            <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 24px; color: black;">STATUS PENDAFTARAN</h5>
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-4 text-right">
                                        <h4>Status Pendaftaran &nbsp:</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="col-md-11">
                                            <input type="text" name="kewarganegaraan" value="asdasd" id="kewarganegaraan" class="form-control input-md input-data" disabled />
                                            <br /> ||
                                        </div>
                                        <div class="col-md-11"><input type="text" name="kewarganegaraan" value="asdasd" id="kewarganegaraan" class="form-control input-md input-data" disabled /></div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4 text-right">
                                        <h4>Status &nbsp:</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <a><label style="color:coral; padding-top:10px; padding-bottom:initial">Lihat</label></a>
                                    </div>
                                </div>
                                <br />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="container-fluid" style="margin-bottom:100px;">
    <input type="hidden" value="@HttpContext.Current.Session["email"].ToString()" id="getEmail" disabled/>
    <div class="card center-block" style="background-color: white; width: 100%; margin-top: 30px; margin-bottom: 50px;">
        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                TRACKING STATUS PENDAFTARAN MATA KULIAH
            </h4>
            <hr />
            <div class="container-fluid">
                <br />
                <table id="table-data-tracking-pendaftaran-makul" class="table row-border hover dt-responsive responsive" style="border-spacing: 0 15px; border:0">
                    <thead class="text-center">
                        <tr style="background-color: #FF8A04; border: 0 ">
                            <th class="zero-padding no-border vertical-center" style="text-align: center; font-size: 0.8vw">Action</th>
                            <th class="zero-padding no-border vertical-center" style="text-align:center; font-size:0.8vw">No.</th>
                            <th class="zero-padding no-border vertical-center" style="text-align:center; font-size:0.8vw">Fakultas</th>
                            <th class="zero-padding no-border vertical-center" style="text-align:center; font-size:0.8vw">Program Studi</th>
                            <th class="zero-padding no-border vertical-center" style="text-align:center; font-size:0.8vw">Kode Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center" style="text-align:center; font-size:0.8vw">Nama Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center" style="text-align:center; font-size:0.8vw">Nama Dosen</th>
                            <th class="zero-padding no-border vertical-center" style="text-align:center; font-size:0.8vw">Status Pendaftaran</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/Portal/TrackingStatus/main.js"></script>
}