
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExportPDF</title>

    <script src="../../Scripts/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $('#hallo').text("HELLO");
            //$("#print").hide();

            @*  var date = new Date();
            $("#currentDate").text(date.toShortFormat());
            $("#currentDatePrint").text(date.toShortFormat());

            getNilai();*@



    });

    </script>

</head>
<body>


    <div id="hallo"></div>
    <div>
    </div>
</body>
</html>
