
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Portal/Views/Shared/_LayoutHome.cshtml";
}


@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/AdminCostumeBS4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Portal/TrackingStatus/main.css">
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
}
@section modal{
    <div class="modal fade" id="DetailTrackingStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" id="modal-inner">

        </div>
    </div>
}
<div class="container-fluid" style="margin-bottom:100px;">
    <input type="hidden" value="ssdfds" id="getEmail" disabled />
    <div class="card center-block" style="background-color: white; width: 100%; margin-top: 30px; margin-bottom: 50px;">
        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                JADWAL UJIAN MBKM <br />
                <small class="describe">Berikut Daftar Jadwal Ujian MBKM</small>
            </h4>
            <hr />
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <form class="form-horizontal col-md-8">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <h5><b>Pilih Semester</b></h5>
                                </div>
                                <div class="col-sm-8">
                                    <input class="hide" type="hidden" value="@ViewData["firstSemester"].ToString()" id="firstSemester" disabled/>
                                    <select name="inp_semester" id="inp_semester" class="form-control input-md input-data">
                                        <option value="" selected disabled>-- Pilih Tahun Semester --</option>
                                        @{
                                            foreach (var dt in ViewData["semester"] as IEnumerable<MBKM.Entities.ViewModel.VMSemester>)
                                            {
                                                <option value="@dt.Nilai">@dt.Nama</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <div class="row"  id="data_table">
                    <div class="col-lg-12">
                        <table id="table-data-jadwal-ujian-mahasiswa" class="table row-border hover dt-responsive responsive" style="border-spacing: 0 15px; border:0">
                            <thead class="text-center">
                                <tr style="background-color: #FF8A04; border: 0 ">
                                    <th class="zero-padding no-border vertical-center" style="text-align: center; font-size: 0.8vw">No</th>
                                    <th class="zero-padding no-border vertical-center" style="text-align: center; font-size: 0.8vw">Tahun Semester</th>
                                    <th class="zero-padding no-border vertical-center" style="text-align: center; font-size: 0.8vw">Nama Mata Kuliah</th>
                                    <th class="zero-padding no-border vertical-center" style="text-align: center; font-size: 0.8vw">SKS</th>
                                    <th class="zero-padding no-border vertical-center" style="text-align: center; font-size: 0.8vw">Tanggal</th>
                                    <th class="zero-padding no-border vertical-center" style="text-align: center; font-size: 0.8vw">Waktu</th>
                                    <th class="zero-padding no-border vertical-center" style="text-align: center; font-size: 0.8vw">Lokasi</th>
                                    <th class="zero-padding no-border vertical-center" style="text-align: center; font-size: 0.8vw">Ruang Ujian</th>
                                    <th class="zero-padding no-border vertical-center" style="text-align: center; font-size: 0.8vw">Seksi</th>
                                    <th class="zero-padding no-border vertical-center" style="text-align: center; font-size: 0.8vw">Program Studi</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="row hidden" id="announced" >
                    <div class="col-lg-12 center">
                        <div class="row">
                            <div class="col-lg-4" style="text-align:right">
                                <i class="fas fa-bullhorn fa-10x" style="color:lightgray"></i>
                            </div>
                            <div class="col-lg-6" style="text-align:left">
                                <h2>JADWAL UJIAN BELUM TERSEDIA</h2>
                                <h2>MOHON CEK SECARA BERKALA</h2>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                    
                </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/Portal/JadwalUjian/main.js"></script>
    <script src="~/Scripts/loading/loadingoverlay.min.js"></script>
}