
@{
    Layout = null;
}

<div class="modal-content data-content-modal" id="created-master-maping-cpl">
    <div class="modal-header" style="background-color: #FF8A04; ">
        <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;">
            TAMBAH MAPING CAPAIAN PEMBELAJARAN PER-MATA KULIAH
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">

            @*            <div class="form-group">
            <label for="inp_tipeEmail" class="col-sm-3 control-label">Kode Mata Kuliah</label>
            <div class="col-sm-9">
                <select class="form-control input-md" name="inp_kode_mata_kuliah" id="select_kode_mata_kuliah" placeholder="Pilih Kode Mata Kuliah">
                </select>
            </div>
        </div>*@

            <div class="form-group">
                <label for="inp_MatakuliahID" class="col-sm-3 control-label">ID Mata Kuliah</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control input-md" name="inp_id_mata_kuliah" id="inp_id_mata_kuliah" placeholder="Pilih Mata Kuliah" disabled>
                </div>
            </div>

            <div class="form-group">
                <label for="inp_MatakuilahKode" class="col-sm-3 control-label">Kode Mata Kuliah</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control input-md" name="inp_kode_mata_kuliah" id="inp_kode_mata_kuliah" placeholder="Pilih Mata Kuliah" disabled>
                </div>
            </div>

            <div class="form-group">
                <label for="inp_MatakuiahName" class="col-sm-3 control-label">Mata Kuliah</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control input-md" name="inp_mata_kuliah" id="inp_mata_kuliah" placeholder="Pilih Mata Kuliah" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="inp_kelompok" class="col-sm-3 control-label">Kelompok</label>
                <div class="col-sm-9">
                    <select class="form-control input-md" name="inp_kelompok" id="inp_kelompok">
                    </select>
                </div>
            </div>

            
            <div class="form-group">
                <label for="inp_kelompok" class="col-sm-3 control-label">Kelompok</label>
                <div class="col-sm-9">
                    <select class="form-control input-md" name="inp_kode_capaian_pembelajaran" id="inp_kode_capaian_pembelajaran" placeholder="Pilih Kode Capian Pembelajaran">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inp_bodyEmail" class="col-sm-3 control-label">Capaian Pembelajaran</label>
                <div class="col-sm-9">
                    <textarea type="text" class="form-control input-md" name="inp_capaian" id="inp_capaian" placeholder="Keterangan" disabled></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inp_status" class="col-sm-3 control-label">Status</label>
                <div class="col-sm-9">
                    <label class="radio-inline input-pendaftaran">
                        <input type="radio" name="inp_status" id="inp_status" value="true"> Aktif
                    </label>
                    <label class="radio-inline input-pendaftaran">
                        <input type="radio" name="inp_status" id="inp_status" value="false"> Tidak Aktif
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-md-offset-10">
                    <button type="button" onclick="PostCreate()" class="btn btn-warning">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>
