

@{
    Layout = null;
}

<div class="modal-content data-content-modal" id="created-user-template">
    <div class="modal-header" style="background-color: #FF8A04; ">
        <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;">
            TAMBAH USER
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="frmSave">
            <div class="form-group" id="frmAddUser">
                <label for="nomorindukpegawai" class="col-sm-3 control-label">Nomor Induk Pegawai</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control input-pendaftaran" id="txtnomorindukpegawai" placeholder="Input Induk Pegawai">
                </div>
            </div>
            <div class="form-group">
                <label for="inp_email" class="col-sm-3 control-label">Nama</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control input-pendaftaran" id="txtnama" placeholder="Input Nama">
                </div>
            </div>
            <div class="form-group">
                <label for="inp_bodyEmail" class="col-sm-3 control-label">Alamat Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control input-pendaftaran" id="txtemail" placeholder="Input Alamat Email">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control input-pendaftaran" id="txtpassword" placeholder="Input Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inp_status" class="col-sm-3 control-label">Status</label>
                <div class="col-sm-9">
                    <label class="radio-inline input-pendaftaran">
                        <input type="radio" name="inpStatus" id="inp_status" value="1"> Aktif
                    </label>
                    <label class="radio-inline input-pendaftaran">
                        <input type="radio" name="inpStatus" id="inp_status" value="0"> Tidak Aktif
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-md-offset-10">
                    <button type="submit" class="btn btn-warning">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>
