
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}
@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/AdminCostumeBS4.css">
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/summernote/summernote.min.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert2.all.min.js"></script>

}
@section modal{
    <div class="modal fade" id="TambahUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" id="modal-inner">

        </div>
    </div>
}
@*<div class="container-fluid" style="margin-left:40px; margin-right:40px;margin-bottom:100px;">*@
<div class="container-fluid" style="margin-bottom: 100px;">
    <div class="card center-block" style="background-color: white; width: 100%; margin-top: 30px; margin-bottom: 50px; ">
        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                MANAGE LOGIN USER
            </h4>
            <hr />
            @*<div class="container" style="width: 100%;">*@
            <div class="container" style="width: 100%;over">
                @*<button class="btn btn-success" data-toggle="modal" onclick="AddUserTemplate()" data-target="#TambahUser" data-backdrop="true"><i class="fas fa-plus-circle"></i> TAMBAH USER</button>*@
                <button class="btn btn-success" onclick="AddUserTemplate()"><i class="fas fa-plus-circle"></i> TAMBAH USER</button>
                <br />
                <br />
                @*<table id="TableList" class="table row-border hover dt-responsive responsive" style="border-spacing: 0 15px; border:0">*@
                <table id="TableList" class="table table-bordered table-striped table-hover js-basic-example dataTable table-responsive display nowrap">
                    <thead class="text-center">
                        <tr style="background-color: #FF8A04; border: 0 ">
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">No.</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Nomor Induk Pegawai</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Nama</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Email</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Password</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Jabatan</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">JabatanID</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Program Studi/Unit</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/summernote/summernote.min.js"></script>
    <script src="~/Scripts/Admin/UserManage/main.js"></script>
    <script src="~/Scripts/Admin/UserManage/crud.js"></script>
}